#body{
    margin: 25px;
    text-align: center;
}
.box{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #bb8208;
}
.text{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #bb8208;
}
.home{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #bb8208;
}